<!DOCTYPE html>
<html lang="en">
  <head>
    <title>error</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>

    <div class="container">
      <div class="image">
        <div id="bg">
          <img src="/static/images.jpeg" id="bg" alt="">
          <center><br><br><br><br><br><br>
              <h2>Please upload only image files in acceptable format ('png', 'jpg', 'jpeg', 'gif', 'tiff', 'tif') </h2>
          </center>
              <br><br><br>
        </div>
      </div>
      <div>
  </body>
</html>

