<!DOCTYPE html>
<html lang="en">
  <head>
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>

    <div class="container">
      <div class="image">
        <div id="bg">
          <img src="static/images.jpeg" id="bg" alt="">
          <center><br><br><br>
          <h1>Brahmi -> Tamil</h1></center>
          <br><br><br><br><br><br>
          <center><b><p>The Brahmi script is considered as the most ancient writing
systems in the world by virtue of its time depth and influence.
The ancient historical inscriptions and other forms of textual
data were written in Brahmi. It serves as the base script for
many languages in south Asian countries. Brahmi is called a
”syllabic alphabet”, referring each sign as a simple consonant
or a syllable with the consonant and the inherent vowel.</p>
          <p>This is a web application which allows you to transliterate Brahmi into Tamil using OCR techniques.
            Since Tamil is one of the language with largest alphabet set, the Brahmi phonetics are transliterated into Tamil.
            Now with this Tamil People can read Brahmi scripts.   </p></b></center>
          <br><br><br><br><br>
          <form action="upload" method="post" enctype="multipart/form-data">
            <center><input type="file" name="file"><input type="submit" value="Upload"></center>
          </form>
        </div>
      </div>
      <div>
  </body>
</html>
